.sidedrawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.slideEnter {
    transform: translateX(-100%);
}
  
.slideEnterActive {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}

.slideExit {
    transform: translateX(0%);
    opacity: 1;
}

.slideExitActive {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 200ms;
}
  